# Django Settings
SECRET_KEY=dev-secret-key
DEBUG=True
DATABASE_URL=postgres://postgres:postgres@db:5432/my_media_site
DOMAIN_NAME=localhost
SPOTIPY_CLIENT_ID=your_spotify_id
SPOTIPY_CLIENT_SECRET=your_spotify_secret
