TMDB_API_KEY=tmdb-api-key
SPOTIPY_CLIENT_ID=spotipy-id
SPOTIPY_CLIENT_SECRET=spotipy-secret
SECRET_KEY=secret-key-change-in-production
DUCKDNS_TOKEN=duckdns-token
POSTGRES_USER=postgres-usr
POSTGRES_PASSWORD=postgres-pwd
DEBUG=True
DOMAIN_NAME=localhost
LOCAL_IP_ADDRESS=local_ip_address